$blue: #61c4d9;
$bggrey: #f2f5f4;
$green: #0f5a47;
$black: #0d0d0d;
$grey: #808080;
$berrie: #cfdeda;
$bg_grey: #f8faf9;
$white: white;

@import "normalize.css";
@import "blocks/hero.scss";
@import "blocks/header.scss";
@import "blocks/menu.scss";
@import "blocks/phone.scss";
@import "blocks/logo.scss";
@import "blocks/btn.scss";
@import "blocks/why.scss";
@import "blocks/feature.scss";
@import "blocks/comments.scss";
@import "blocks/comment.scss";
@import "blocks/user.scss";
@import "blocks/team.scss";
@import "blocks/contacts.scss";
@import "blocks/card.scss";
@import "blocks/footer.scss";
@import "blocks/social.scss";
@import "blocks/form.scss";
@import "blocks/menu1.scss";
body {
  font-size: 16px;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  font-family: "AlegreyaSans";
  color: $black;
}

.wrapper {
  position: relative;
  width: 100%;
  min-width: 940px + 20px;
  min-height: 100%;
  overflow: hidden;
}

.section {
  height: 100vh;
  min-height: 650px;
  position: relative;
  &__title{
    text-transform: uppercase;
    font-weight: bold;
    font-family: "AlegreyaSansBold";
    font-size: 48px;
    text-align: center;
    width: 430px;
    margin: 0px;
    padding: 5px;
    line-height: 1;
    width: 100%;
  }
}

.container {
  width: 940px;
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100%;
}


// tag styles reset
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul {
  padding: 0;
  margin: 0;

  & > li {
    list-style: none;
  }
}

p {
  padding: 0;
  margin: 0;
}

footer {
  position: relative;
  width: 100%;
}

* {
  box-sizing: border-box;
}







@font-face {
  font-family: "AlegreyaSans";
  src: url("/fonts/AlegreyaSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "AlegreyMedium";
  src: url("/fonts/AlegreyaSans-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url("/fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "AlegreyaSansMedium";
  src: url("/fonts/AlegreyaSans-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "AlegreyaSansBold";
  src: url("/fonts/AlegreyaSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "MuseoSansCyrl";
  src: url("/fonts/MuseoSansCyrl.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "AlegreyaSansExtraBold";
  src: url("/fonts/AlegreyaSans-ExtraBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Icons";
  src: url("/fonts/icomoon.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
