@import url(normalize.css);
.hero {
  background: url(/img/hero/sheet1.png) right center/contain no-repeat #61c4d9;
  color: white; }
  @media screen and (max-width: 768px) {
    .hero {
      background-position-y: top;
      background-size: unset; } }
  @media screen and (max-width: 480px) {
    .hero {
      background-size: 85% auto; } }
  .hero__content {
    -webkit-box-flex: 0.8;
    -ms-flex: 0.8;
    flex: 0.8;
    margin-top: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-bottom: 3.125rem;
    width: 54%; }
    @media screen and (max-width: 768px) {
      .hero__content {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        width: 100%;
        -webkit-box-flex: 0.5;
        -ms-flex: 0.5;
        flex: 0.5;
        -ms-flex-pack: distribute;
        justify-content: space-around; } }
    .hero__content-text {
      z-index: 200;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start; }
      @media screen and (max-width: 768px) {
        .hero__content-text {
          width: 69%;
          -webkit-box-pack: justify;
          -ms-flex-pack: justify;
          justify-content: space-between;
          -webkit-box-flex: 0.8;
          -ms-flex: 0.8;
          flex: 0.8;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          text-align: center; } }
      @media screen and (max-width: 480px) {
        .hero__content-text {
          width: 100%; } }
  .hero__svg {
    fill: #61c4d9;
    stroke: #b0f7ff;
    max-width: 100%;
    max-height: 100%; }
  .hero__title {
    text-transform: uppercase;
    font-size: 3.75rem;
    letter-spacing: 0.028em;
    font-weight: bold;
    padding: 5px 0px 5px 0px;
    margin-bottom: 0.75rem;
    line-height: 1;
    max-width: 90%; }
    @media screen and (max-width: 480px) {
      .hero__title {
        margin-bottom: 0; } }
  .hero__description {
    font-size: 21px;
    padding: 5px;
    margin-bottom: 0.625rem;
    line-height: 1.1;
    max-width: 75%; }
    @media screen and (max-width: 480px) {
      .hero__description {
        margin-bottom: 1.25rem; } }
  @media screen and (max-width: 768px) {
    .hero__container {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      width: 100%; } }
  .hero__container::after {
    content: "";
    width: 110%;
    height: 22.0625rem;
    position: absolute;
    bottom: -5%;
    left: -5%;
    background: url(/img/hero/berries.png) no-repeat; }
    @media screen and (max-width: 768px) {
      .hero__container::after {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        background: none; } }
  .hero__content-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 6; }
  .hero__content-images {
    position: absolute;
    bottom: 0px;
    right: -2.25rem;
    top: 0;
    max-width: 31.4375rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .hero__content-images .image {
      max-width: 100%; }
      .hero__content-images .image--tablet {
        display: none; }
        @media screen and (max-width: 768px) {
          .hero__content-images .image--tablet {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            position: absolute;
            top: 14rem; } }
    @media screen and (max-width: 768px) {
      .hero__content-images {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        right: auto;
        top: 4rem;
        width: 100%; } }
    @media screen and (max-width: 768px) {
      .hero__content-images {
        top: 2rem;
        width: 91%; } }
    .hero__content-images .berries {
      z-index: 3;
      bottom: -2.5rem;
      right: -4.5625rem; }

.icon__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.item__text {
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media screen and (max-width: 768px) {
    .item__text {
      max-width: 6.25rem; } }

.icon__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 10.625rem; }
  .icon__item-pic {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 4.0625rem;
    height: 2.8125rem;
    margin-right: 0.625rem; }
  @media screen and (max-width: 768px) {
    .icon__item {
      max-width: 14.375rem;
      margin-right: 1.875rem; }
      .icon__item .icon__item:last-child {
        margin: 0; } }

.icon__item-pic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 4.0625rem;
  height: 2.8125rem; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 23px 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%; }

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .menu__link {
    text-decoration: none;
    color: inherit; }
  .menu__item {
    margin-right: 1.625rem;
    font-size: 1.125rem; }
    .menu__item:last-child {
      margin: 0; }
    .menu__item:first-child {
      margin-left: 0.4375rem; }
  @media screen and (max-width: 768px) {
    .menu {
      display: none; } }

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  list-style-type: none; }

.phone__link {
  text-decoration: none;
  color: inherit;
  font-size: 1.5rem; }
  .phone__link:before {
    content: url("/icons/phone.png");
    margin: 5px; }

@media screen and (max-width: 768px) {
  .phone {
    display: none; } }

.logo__name {
  padding-left: 4px;
  font-family: "MuseoSansCyrl";
  text-transform: uppercase;
  font-weight: normal;
  font-size: 24px;
  line-height: 20px; }

.btn {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.1875rem;
  font-family: "AlegreyaSansExtraBold";
  background: white;
  padding: 1rem 2.125rem;
  border: none;
  border-radius: 3.125rem;
  color: #006633;
  display: inline-block; }

.why {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .why:before {
    content: "";
    background: url("/img/why/sheet.png") center center/contain no-repeat;
    width: 11.9375rem;
    height: 19.625rem;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
    @media screen and (max-width: 480px) {
      .why:before {
        top: 30%; } }
  .why:after {
    content: "";
    background: url("/img/why/strawberry.png") center center/contain no-repeat;
    width: 10.0625rem;
    height: 19.6875rem;
    position: absolute;
    bottom: -5%;
    z-index: 10; }
  .why__text {
    text-align: center;
    width: 26.875rem;
    margin: 0px;
    padding: 5px;
    font-size: 1.125rem;
    width: inherit;
    color: #808080; }
  .why__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style-type: none;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 0px;
    margin-top: 2.3125rem; }
    @media screen and (max-width: 768px) {
      .why__list {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; } }
  .why .container {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }

.feature {
  padding: 5px;
  width: 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media screen and (max-width: 768px) {
    .feature {
      width: 39%; } }
  @media screen and (max-width: 480px) {
    .feature {
      width: 63%; } }
  .feature__pic {
    background-color: #f2f5f4;
    border-radius: 50%;
    width: 7.8125rem;
    height: 7.8125rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 1.5625rem; }
    .feature__pic-img {
      max-width: 100%;
      stroke: #0d0d0d;
      fill: #f2f5f4; }
  .feature__name {
    font-size: 1.6875rem;
    font-weight: bold;
    margin-top: 1.8125rem; }
  .feature__text {
    text-align: center;
    margin: 0px;
    padding: 5px;
    font-size: 1.125rem;
    color: #808080;
    margin-top: 0.625rem; }
  .feature::after {
    content: "";
    display: block;
    width: 4.375rem;
    position: relative;
    top: -14.625rem;
    left: 9.8125rem;
    height: 3.125rem;
    background: url(/img/why/dots.png) no-repeat; }
    @media screen and (max-width: 768px) {
      .feature::after {
        display: none; } }
  .feature:last-child::after {
    background: #fff;
    content: ""; }

.comments:before {
  content: "";
  background: url(/img/comment/left.png) no-repeat;
  display: block;
  width: 9.875rem;
  position: absolute;
  bottom: -20%;
  left: 0px;
  height: 26.375rem;
  z-index: 2; }

.comments:after {
  content: "";
  background: url(/img/comment/strawberry.png) no-repeat;
  display: block;
  width: 10.8125rem;
  position: absolute;
  top: 0%;
  right: 0px;
  height: 6.1875rem; }

.comments .container {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  @media screen and (max-width: 768px) {
    .comments .container {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }

.comments__header {
  text-align: left;
  font-weight: bold;
  font-size: 3rem;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
  padding-left: 0.6875rem;
  position: relative;
  z-index: 6;
  margin-bottom: 2.625rem; }

.comments__content {
  padding: 48px 160px 51px 49px;
  position: relative;
  text-align: left;
  background-color: #f8faf9;
  min-height: 21.9375rem;
  margin-bottom: 1.4375rem; }
  @media screen and (max-width: 768px) {
    .comments__content {
      width: 33.125rem;
      padding: 60px 35px 40px 35px; } }
  @media screen and (max-width: 480px) {
    .comments__content {
      width: 31.875rem; } }
  .comments__content::before {
    content: "";
    display: block;
    position: absolute;
    top: -3.8125rem;
    right: 26.5625rem;
    width: 5.625rem;
    height: 5.625rem;
    border-radius: 50%;
    background-color: white; }
  .comments__content::after {
    content: "";
    top: 0px;
    right: 0px;
    position: absolute;
    background: url("/img/comment/berrie.png") center center no-repeat;
    width: 8.0625rem;
    height: 9.6875rem; }
    @media screen and (max-width: 480px) {
      .comments__content::after {
        background-size: 70% auto; } }

.comments__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }
  @media screen and (max-width: 768px) {
    .comments__main {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }

.comments__users {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
  padding: 0; }

.comment__desc {
  padding: 10px 20px 20px 20px; }
  @media screen and (max-width: 768px) {
    .comment__desc {
      text-align: center; } }

.comment__title {
  letter-spacing: 1px;
  font-family: AlegreyaSansMedium;
  font-size: 1.6875rem;
  color: #0d0d0d;
  margin: 0px;
  font-weight: normal;
  margin-bottom: 1.375rem;
  letter-spacing: 0.05em; }

.comment__text {
  font-size: 1.125rem;
  color: #808080;
  line-height: 1;
  margin-bottom: 1.875rem; }

.comment__author {
  font-family: AlegreyaSansMedium;
  font-size: 1.125rem;
  color: #808080; }

.comment__pic {
  min-width: 15.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
  -ms-flex-negative: 0;
  flex-shrink: 0; }
  .comment__pic-img {
    max-width: 100%; }

.user {
  width: 5.875rem;
  height: 5.875rem;
  border-radius: 50%;
  margin-right: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
  border: 8px solid transparent; }
  .user__avatar {
    max-width: 105%; }
  .user-hover {
    border: 8px solid #0f5a47;
    width: 6.375rem;
    height: 6.375rem; }
  .user:last-child {
    margin-right: 0px; }

.team:before {
  content: "";
  background: url(/img/team/right.png) no-repeat;
  display: block;
  width: 12.25rem;
  position: absolute;
  top: -24%;
  right: 0px;
  height: 36.125rem;
  z-index: 2; }

.team:after {
  content: "";
  background: url(/img/team/strawberrie.png) no-repeat;
  display: block;
  width: 8.4375rem;
  position: absolute;
  bottom: -3%;
  left: 3%;
  height: 7rem;
  z-index: 3; }

.team .section__title {
  margin-top: auto;
  margin-bottom: 7%; }

.team__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.team__list {
  -webkit-box-flex: 0.85;
  -ms-flex: 0.85;
  flex: 0.85;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%; }
  @media screen and (max-width: 768px) {
    .team__list {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }
  @media screen and (max-width: 480px) {
    .team__list {
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; } }

.team__item {
  width: 24%;
  min-width: 15.25rem; }
  .team__item:nth-child(2n) {
    padding-top: 6%; }
    @media screen and (max-width: 768px) {
      .team__item:nth-child(2n) {
        padding-top: 0; } }

.team .item__content {
  width: 100%; }
  .team .item__content-author {
    font-family: AlegreyaSansMedium;
    font-size: 1.37375rem; }
    .team .item__content-author:after {
      content: "";
      background: url(/img/team/bottom.png) center center no-repeat;
      position: absolute;
      min-height: 2rem;
      width: 0.5625rem;
      margin-left: 1%; }
    .team .item__content-author:hover {
      cursor: pointer; }
  .team .item__content-comment {
    height: 0;
    overflow: hidden;
    -webkit-transition: height 1s ease;
    -o-transition: height 1s ease;
    transition: height 1s ease; }
  .team .item__content--active .item__content-comment:last-child {
    height: auto; }
  .team .item__content--active .item__content-author:after {
    content: "";
    background: url(/img/team/top.png) center center no-repeat;
    position: absolute;
    min-height: 2rem;
    width: 0.5625rem;
    margin-left: 1%; }

.team .item__position {
  font-size: 1.125rem; }

.team .item__text {
  font-size: 1.0625rem;
  color: #808080; }
  @media screen and (max-width: 768px) {
    .team .item__text {
      max-width: 100%; } }

.team .item__pic {
  width: 100%;
  padding-bottom: 6%; }
  .team .item__pic-image {
    max-width: 100%; }

.card {
  width: inherit;
  background: url(/img/contacts/card.png) center center/cover no-repeat;
  min-height: 100%; }

.footer {
  position: absolute;
  background: white;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 15%; }
  .footer__contacts {
    width: 50%; }
    @media screen and (max-width: 480px) {
      .footer__contacts {
        width: 100%; } }
  .footer__socials {
    width: 50%; }
    @media screen and (max-width: 480px) {
      .footer__socials {
        width: 100%; } }
  .footer .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .footer .contact__address {
      font-size: 1.3125rem; }
      @media screen and (max-width: 480px) {
        .footer .contact__address {
          margin-bottom: 0.625rem; } }
    @media screen and (max-width: 480px) {
      .footer .contact {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; } }
    .footer .contact__phone {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      font-size: 1.3125rem;
      color: #0f5a47; }
      @media screen and (max-width: 480px) {
        .footer .contact__phone {
          margin-bottom: 0.625rem; } }
      .footer .contact__phone:before {
        content: "";
        width: 0.75rem;
        height: 0.6875rem;
        display: block;
        background: url(/img/contacts/phone.png) no-repeat;
        margin-right: 9px; }
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: row !important;
    flex-direction: row !important; }
    @media screen and (max-width: 480px) {
      .footer__container {
        -webkit-box-orient: vertical !important;
        -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
        flex-direction: column !important;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        text-align: center; } }

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }
  @media screen and (max-width: 480px) {
    .social {
      width: 100%;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }
  .social__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .social__item {
    width: 1.4375rem;
    margin-right: 1.25rem; }
    .social__item:last-child {
      margin-right: 0; }
  .social .item-icon {
    max-width: 100%; }

.form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #0f5a47;
  font-family: "OpenSans";
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  @media screen and (max-width: 768px) {
    .form {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }
  .form__column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 49%; }
    @media screen and (max-width: 768px) {
      .form__column {
        width: 69%; } }
    @media screen and (max-width: 480px) {
      .form__column {
        width: 100%; } }
  .form__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 0.5rem; }
    @media screen and (max-width: 768px) {
      .form__row-checkbox {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center; } }
    @media screen and (max-width: 768px) {
      .form__row-buttons {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center; } }
  .form__content {
    width: 100%; }
    .form__content-textarea {
      margin-bottom: 0.4375rem; }
      @media screen and (max-width: 768px) {
        .form__content-textarea {
          margin-bottom: 3.4375rem; } }
    .form__content--half {
      width: 48%; }
    .form__content--fourth {
      width: 22%; }
  .form__title {
    margin-bottom: 8px; }
  .form__input {
    font-size: 1.125rem;
    padding: 1.125rem 12px;
    width: 100%;
    border: 3px solid transparent; }
    .form__input:focus {
      outline: 0;
      border: 3px solid #dde3bd; }
  .form__textarea {
    width: 100%;
    font-size: 1.125rem;
    padding: 1.125rem 0.75rem;
    resize: none;
    border: 3px solid transparent; }
    .form__textarea:focus {
      outline: 0;
      border: 3px solid #dde3bd; }
  .form__radio {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; }
    .form__radio:checked + .form__radio-fake:after {
      opacity: 1; }
    .form__radio-container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-right: 10px; }
  .form__checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; }
    .form__checkbox-container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
    .form__checkbox:checked + .form__checkbox-fake:after {
      opacity: 1; }
    .form__checkbox-fake {
      width: 1.625rem;
      height: 1.625rem;
      margin-right: 0.5625rem;
      background-color: #fff;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .form__checkbox-fake:after {
        content: "";
        width: 3px;
        height: 8px;
        border-top: 4px solid #0f5a47;
        border-left: 4px solid #0f5a47;
        opacity: 0;
        -webkit-transition: opacity 0.3s ease-out;
        -o-transition: opacity 0.3s ease-out;
        transition: opacity 0.3s ease-out;
        -webkit-transform: rotate(-146deg);
        -ms-transform: rotate(-146deg);
        transform: rotate(-146deg);
        border-top-left-radius: 3px; }
  .form__radio-fake {
    width: 1.625rem;
    height: 1.625rem;
    border-radius: 50%;
    margin-right: 0.5625rem;
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .form__radio-fake:after {
      content: "";
      width: 0.875rem;
      height: 0.875rem;
      border-radius: 50%;
      background-color: #0f5a47;
      opacity: 0;
      -webkit-transition: opacity 0.3s ease-out;
      -o-transition: opacity 0.3s ease-out;
      transition: opacity 0.3s ease-out; }
  .form .form__row-radio {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
    @media screen and (max-width: 768px) {
      .form .form__row-radio {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin-bottom: 1.5625rem; } }
  .form__buttons {
    margin-top: 1.4375rem; }
    @media screen and (max-width: 768px) {
      .form__buttons {
        margin-top: 3.4375rem; } }
  .form__button--hover {
    background-color: #0f5a47;
    color: white; }
  .form__button-cancel {
    background: none;
    font-weight: normal;
    font-family: "AlegreyaSans"; }

.delivery {
  background: url("/img/delivery/bg.png") center center/cover no-repeat; }
  .delivery-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }

.section__title-form {
  color: #0f5a47;
  margin-bottom: 6% !important; }

.menu1 {
  background: url("/img/menu/bg.png") center center/cover;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .menu1 .section__title-menu1 {
    display: block;
    text-align: left;
    width: auto;
    margin-top: 10%;
    margin-left: 4%; }
  .menu1__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    min-width: 36.6667%;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    max-width: 73%; }
  .menu1__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .menu1__item:hover {
      cursor: pointer; }
    .menu1__item--active {
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      width: 49%;
      -webkit-box-flex: 2;
      -ms-flex-positive: 2;
      flex-grow: 2; }
      .menu1__item--active .menu1__content {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        background-color: rgba(0, 0, 0, 0.5);
        width: 30%;
        -webkit-box-flex: 2;
        -ms-flex-positive: 2;
        flex-grow: 2;
        height: 100%; }
  .menu1__button {
    font-family: "AlegreyMedium";
    text-decoration: none;
    color: white;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 3rem;
    height: 100%;
    min-width: 2.1em; }
    .menu1__button-text {
      -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      transform: rotate(-90deg);
      position: absolute;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      min-width: 34.875rem;
      max-width: 34.375rem; }
  .menu1__content {
    display: none;
    width: 0;
    -webkit-transition: width 0.3s;
    -o-transition: width 0.3s;
    transition: width 0.3s;
    padding: 3.4375rem 2rem; }

.slider {
  background-color: #f8faf9; }
  .slider__container {
    max-width: 58.75rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    width: 95%; }
    @media screen and (max-width: 768px) {
      .slider__container {
        width: 54% !important; } }
    @media screen and (max-width: 480px) {
      .slider__container {
        width: 91% !important; } }
  .slider__wrapper {
    overflow: hidden; }
  .slider .section__title-slider {
    text-align: left;
    font-size: 2.25rem;
    padding: 0;
    line-height: 1.2; }
    @media screen and (max-width: 768px) {
      .slider .section__title-slider {
        text-align: center; } }
  .slider__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    position: relative;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: right 0.3s;
    -o-transition: right 0.3s;
    transition: right 0.3s; }
  .slider__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style-type: none;
    width: 100%;
    position: relative;
    -ms-flex-negative: 0;
    flex-shrink: 0; }
    @media screen and (max-width: 768px) {
      .slider__item {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; } }
    @media screen and (max-width: 480px) {
      .slider__item {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; } }
  .slider .btn__arrow--prev {
    width: 2.5rem;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    z-index: 2;
    left: -2%; }
    @media screen and (max-width: 768px) {
      .slider .btn__arrow--prev {
        top: 35%; } }
  .slider .btn__arrow--next {
    width: 2.5rem;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    z-index: 2;
    right: -2%; }
    @media screen and (max-width: 768px) {
      .slider .btn__arrow--next {
        top: 35%;
        right: -13%; } }
    @media screen and (max-width: 480px) {
      .slider .btn__arrow--next {
        top: 35%;
        right: -3%; } }
  .slider__left {
    width: 50%; }
    @media screen and (max-width: 768px) {
      .slider__left {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center; } }
    @media screen and (max-width: 480px) {
      .slider__left {
        width: 85%; } }
  .slider__right {
    width: 50%;
    padding: 0.8125rem 0.3125rem 0.3125rem 4.25rem;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    @media screen and (max-width: 768px) {
      .slider__right {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center; } }
    @media screen and (max-width: 480px) {
      .slider__right {
        width: 95%; } }
  .slider__image {
    max-width: 100%; }

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .content__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-bottom: 1.25rem; }
  .content__order {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; }
  .content__composition {
    width: 100%;
    margin-bottom: 1.875rem; }
    .content__composition-title {
      font-size: 1.5rem;
      font-family: "AlegreyMedium";
      color: #323232;
      margin-bottom: 1.1875rem;
      max-height: 18.75rem;
      overflow: hidden; }
    .content__composition-text {
      font-size: 1.125rem;
      color: #808080;
      line-height: 1.2;
      text-align: left; }
      @media screen and (max-width: 768px) {
        .content__composition-text {
          text-align: center; } }
    @media screen and (max-width: 768px) {
      .content__composition {
        text-align: center; } }
  .content__calorie {
    margin-right: 3.75rem; }
    .content__calorie-title {
      font-size: 1.125rem;
      color: #333333; }
    .content__calorie-text {
      font-size: 1.125rem;
      color: #333333;
      font-weight: bold; }
  .content__weight-title {
    font-size: 1.125rem;
    color: #333333; }
  .content__weight-text {
    font-size: 1.125rem;
    color: #333333;
    font-weight: bold; }
  .content__order-price {
    font-size: 3.75rem;
    font-family: "Alegreya Sans Light";
    text-transform: uppercase;
    font-family: "AlegreyLite";
    margin-right: 1.875rem; }
  .content__order-btn {
    background-color: #0f5a47;
    color: white;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center; }
  @media screen and (max-width: 768px) {
    .content {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }

.burger {
  display: none;
  width: 25px;
  height: 25px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  @media screen and (max-width: 768px) {
    .burger {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; } }
  .burger__item {
    width: 100%;
    height: 5px;
    border-radius: 10px;
    background: white; }

html {
  font-size: 16px; }
  @media screen and (max-width: 768px) {
    html {
      font-size: 15px; } }
  @media screen and (max-width: 480px) {
    html {
      font-size: 14px; } }

body {
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  font-family: "AlegreyaSans";
  color: #0d0d0d; }

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: hidden; }

.section {
  height: 100vh;
  min-height: 650px;
  position: relative; }
  .section__title {
    text-transform: uppercase;
    font-weight: bold;
    font-family: "AlegreyaSansBold";
    font-size: 3rem;
    text-align: center;
    width: 26.875rem;
    margin: 0px;
    padding: 5px;
    line-height: 1;
    width: 100%; }
  @media screen and (max-width: 480px) {
    .section {
      min-width: 460px; } }

.container {
  width: 58.75rem;
  position: relative;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%; }
  @media screen and (max-width: 768px) {
    .container {
      width: 90%; } }
  @media screen and (max-width: 480px) {
    .container {
      width: 95%; } }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

ul {
  padding: 0;
  margin: 0; }
  ul > li {
    list-style: none; }

p {
  padding: 0;
  margin: 0; }

footer {
  position: relative;
  width: 100%; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

@font-face {
  font-family: "AlegreyaSans";
  src: url("/fonts/AlegreyaSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "AlegreyMedium";
  src: url("/fonts/AlegreyaSans-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "AlegreyLite";
  src: url("/fonts/AlegreyaSans-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "OpenSans";
  src: url("/fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "AlegreyaSansMedium";
  src: url("/fonts/AlegreyaSans-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "AlegreyaSansBold";
  src: url("/fonts/AlegreyaSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: "MuseoSansCyrl";
  src: url("/fonts/MuseoSansCyrl.otf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "AlegreyaSansExtraBold";
  src: url("/fonts/AlegreyaSans-ExtraBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: "Icons";
  src: url("/fonts/icomoon.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }
