@font-face {
  font-family: "AlegreyaSans";
  src: url("/fonts/AlegreyaSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "AlegreyaSansMedium";
  src: url("/fonts/AlegreyaSans-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "AlegreyaSansBold";
  src: url("/fonts/AlegreyaSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: "MuseoSansCyrl";
  src: url("/fonts/MuseoSansCyrl.otf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "AlegreyaSansExtraBold";
  src: url("/fonts/AlegreyaSans-ExtraBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: "Icons";
  src: url("/fonts/icomoon.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

body {
  font-family: "AlegreyaSans";
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px; }

.container {
  width: 960px;
  margin: 0 auto; }

.header {
  position: absolute;
  width: 100%;
  z-index: 4; }
  .header .navigator {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .header .navigator__logo {
      padding-left: 10px;
      font-family: "MuseoSansCyrl";
      text-transform: uppercase;
      font-weight: normal;
      font-size: 24px;
      line-height: 20px; }
    .header .navigator__menu {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      min-width: 670px;
      list-style-type: none;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      padding-left: 0px; }
    .header .navigator__item {
      margin: 5px;
      font-size: 18px; }
    .header .navigator__link {
      color: white;
      text-decoration: none; }
    .header .navigator__phone {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      font-size: 24px; }
      .header .navigator__phone:before {
        content: url("/icons/phone.png");
        margin: 5px; }

.main {
  width: 100%;
  margin: 0 auto; }
  .main .first {
    background: #66cccc; }
  .main .comment {
    padding-top: 180px; }
    .main .comment__background {
      position: absolute; }
      .main .comment__background--sheets {
        background: url("/img/bg-3-sheet.png") no-repeat;
        height: 353px;
        width: 1080px;
        top: 347px;
        margin-left: 33px; }
      .main .comment__background--strawberry {
        background: url("/img/bg-3-strawberry.png") no-repeat;
        height: 353px;
        width: 1080px;
        top: 347px;
        margin-left: 33px; }
      .main .comment__background--berries {
        background: url("/img/bg-3-berries.png") no-repeat;
        height: 353px;
        width: 1080px;
        top: 347px;
        margin-left: 33px; }
      .main .comment__background--pattern {
        background: url("/img/bg-3-pattern.png") no-repeat;
        height: 353px;
        width: 1080px;
        top: 347px;
        margin-left: 33px; }
  .main .screen {
    height: 650px; }
    .main .screen__container {
      width: 1100px;
      margin: 0 auto;
      height: 100%;
      position: relative; }
      .main .screen__container .wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: baseline;
        -ms-flex-align: baseline;
        align-items: baseline;
        height: 100%;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end; }
      .main .screen__container .first__background {
        position: absolute; }
      .main .screen__container .sheet {
        background: url("/img/bg-sheet.png") no-repeat;
        height: 100%;
        width: 514px;
        bottom: 0px;
        right: 0px; }
      .main .screen__container .candy {
        background: url("/img/bg-chocolate.png") no-repeat;
        height: 100%;
        width: 514px;
        top: 54px;
        right: 17px; }
      .main .screen__container .berries {
        background: url("/img/bg-berries.png") no-repeat;
        height: 353px;
        width: 1080px;
        top: 347px;
        margin-left: 33px; }
      .main .screen__container .second__background {
        position: absolute; }
      .main .screen__container .comment__header {
        text-align: left;
        font-weight: bold;
        font-size: 48px;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 2px;
        padding-left: 11px; }
      .main .screen__container .user {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding-left: 10px;
        text-align: left; }
        .main .screen__container .user__comment {
          width: 100%;
          background-color: #f2f5f4;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: start;
          -ms-flex-align: start;
          align-items: flex-start;
          -webkit-box-pack: start;
          -ms-flex-pack: start;
          justify-content: flex-start;
          padding-top: 40px;
          padding-bottom: 30px; }
        .main .screen__container .user__pic {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          overflow: hidden;
          width: 270px;
          height: auto;
          padding: 10px;
          padding-left: 45px;
          padding-right: 5px; }
        .main .screen__container .user__img {
          width: 255px;
          height: 260px; }
        .main .screen__container .user .description {
          position: relative;
          z-index: 4;
          padding: 10px;
          padding-top: 23px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: start;
          -ms-flex-align: start;
          align-items: flex-start;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          width: 450px; }
          .main .screen__container .user .description__header {
            letter-spacing: 1px;
            font-family: AlegreyaSansMedium;
            font-size: 27px;
            color: #333333;
            margin: 0px;
            font-weight: normal;
            padding-left: 5px; }
          .main .screen__container .user .description__text {
            padding: 5px;
            padding-top: 10px;
            font-size: 18px;
            color: #666666;
            line-height: 21px; }
          .main .screen__container .user .description__name {
            padding: 5px;
            font-family: AlegreyaSansMedium;
            font-size: 18px;
            color: #666666; }
        .main .screen__container .user__list {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          list-style-type: none;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          margin: 0;
          padding: 30px 0 0 0; }
        .main .screen__container .user__item {
          width: 94px;
          height: 94px;
          border-radius: 50%;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          overflow: hidden;
          margin: 20px; }
        .main .screen__container .user__link {
          text-decoration: none; }
          .main .screen__container .user__link .item__pic {
            width: 112px; }
      .main .screen__container .vantage {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding: 136px 0px 0px 0px; }
        .main .screen__container .vantage__header {
          text-transform: uppercase;
          font-weight: bold;
          font-family: AlegreyaSansBold;
          font-size: 48px;
          text-align: center;
          width: 430px;
          margin: 0px;
          padding: 5px; }
        .main .screen__container .vantage__text {
          text-align: center;
          width: 430px;
          margin: 0px;
          padding: 5px;
          font-size: 18px;
          width: inherit; }
        .main .screen__container .vantage__list {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          list-style-type: none;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          padding-left: 0px; }
        .main .screen__container .vantage__name {
          width: inherit;
          font-size: 27px;
          font-weight: bold; }
        .main .screen__container .vantage__item {
          padding: 5px;
          min-width: 260px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center; }
        .main .screen__container .vantage__pic {
          background-color: #f2f5f4;
          border-radius: 50%;
          width: 125px;
          height: 125px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center; }
        .main .screen__container .vantage__icon {
          width: 66px; }
      .main .screen__container .sheets {
        background: url("/img/bg-2-sheet.png") no-repeat;
        height: 100%;
        width: 300px;
        top: 238px; }
      .main .screen__container .strawberry {
        background: url("/img/bg-2-strawberry.png") no-repeat;
        height: 100%;
        width: 300px;
        top: 492px; }
      .main .screen__container .dots {
        background: url("/img/bg-2-dots.png") no-repeat;
        height: 100px;
        width: 200px;
        top: 354px;
        left: 352px; }
        .main .screen__container .dots--double {
          background: url("/img/bg-2-dots.png") no-repeat;
          height: 100px;
          width: 200px;
          top: 354px;
          left: 693px; }
      .main .screen__container .scroller_page {
        position: absolute;
        top: 193px;
        right: 24px;
        height: 100%;
        width: 100px; }
        .main .screen__container .scroller_page .scroller {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          list-style-type: none;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center; }
          .main .screen__container .scroller_page .scroller__item {
            margin: 8px; }
          .main .screen__container .scroller_page .scroller__link {
            text-decoration: none; }
            .main .screen__container .scroller_page .scroller__link:hover > div {
              margin: 0 auto; }
              .main .screen__container .scroller_page .scroller__link:hover > div:after {
                border: 1px solid white;
                border-radius: 50%;
                width: 16px;
                display: block;
                height: 16px;
                margin: 0 auto;
                content: "";
                position: absolute;
                margin-left: -6.5px;
                margin-top: -6.5px; }
      .main .screen__container .chocolate {
        word-wrap: break-word;
        position: relative;
        width: 425px;
        color: white;
        padding: 5px;
        z-index: 2; }
        .main .screen__container .chocolate__header {
          text-transform: uppercase;
          font-size: 60px;
          letter-spacing: 1px;
          font-weight: bold;
          padding: 5px 0px 5px 0px;
          margin: 0px;
          line-height: 60px; }
        .main .screen__container .chocolate__body {
          font-size: 21px;
          padding: 5px;
          margin: 0px; }
        .main .screen__container .chocolate__order {
          padding: 22px 0px 58px 0; }
          .main .screen__container .chocolate__order .order__button {
            text-transform: uppercase;
            font-size: 19px;
            border-left-color: #006633;
            font-family: "AlegreyaSansExtraBold";
            background: white;
            padding: 20px 35px;
            border: none;
            border-radius: 50px; }
      .main .screen__container .information {
        z-index: 2;
        position: relative;
        padding-bottom: 45px; }
        .main .screen__container .information__list {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          list-style-type: none;
          padding: 0;
          margin: 0; }
        .main .screen__container .information__item {
          color: white;
          font-size: 16px; }
        .main .screen__container .information__natural, .main .screen__container .information__delivery, .main .screen__container .information__calorie {
          min-width: 120px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          margin: 5px; }
        .main .screen__container .information__natural:before {
          content: url("/img/icon-natural.png");
          margin: 5px;
          height: 43px; }
        .main .screen__container .information__delivery:before {
          content: url("/img/icon-delivery.png");
          margin: 5px;
          height: 43px; }
        .main .screen__container .information__calorie:before {
          content: url("/img/icon-calorie.png");
          margin: 5px;
          height: 43px; }
  .main .circle {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: white; }
