
.why {
  .section__title{
    padding: 0;
    font-size: rem(40px);
  }
  &:before{
    content: "";
    background: url("/img/why/sheet.png") center center /contain no-repeat;
    width:rem(191px);
    height: rem(314px);
    position:absolute;
    top:50%;
    transform: translateY(-50%);
    @include phones(){
      top:30%;
    }
  }
  &:after{
    content: "";
    background: url("/img/why/strawberry.png") left center /contain no-repeat;
    width:rem(81px);
    height: rem(185px);
    position:absolute;
    bottom:-5%;
    z-index: 8;
  }


  align-items: center;
  &__text {
    text-align: center;
    width: rem(430px);
    margin: 0px;
   
    font-size: rem(18px);
    width: inherit;
    color: $grey;
  }
  &__list {
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    padding-left: 0px;
    margin-top: rem(37px);
    @include tablets(){
      flex-direction:column;
    }
  }
  .container {
    justify-content: center;
    align-items: center;
  }

}
