.btn {
  text-decoration: none;
  text-transform: uppercase;
  font-size: rem(19px);
  font-family: "AlegreyaSansExtraBold";
  background: $white;
  padding: rem(16px) rem(34px);
  border: none;
  border-radius: rem(50px);
  color:#006633;
  display: inline-block;
  margin-bottom: rem(10px);
}
