.comment {
  align-items: center;
  &__desc {
    padding: 10px 20px 20px 20px;
    @include tablets {
      text-align: center;
    }
  }
  &__title {
    letter-spacing: 1px;
    font-family: AlegreyaSansMedium;
    font-size: rem(27px);
    color: $black;
    margin: 0px;
    font-weight: normal;
    margin-bottom:rem(22px);
    letter-spacing: 0.05em;
   
  }
  &__text {
    font-size: rem(18px);
    color: $grey;
    line-height: 1;
    margin-bottom:rem(30px);
  }
  &__author {
    font-family: AlegreyaSansMedium;
    font-size: rem(18px);
    color: $grey;
  }
  &__pic{
    min-width:rem(254px);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-shrink: 0;
    &-img{
      max-width: 100%
    }
    @include phones {
      min-width:auto;
      max-width: 45%;
      justify-content: center;
    }
  }
}