.hero {
  background: url(/img/hero/sheet1.png) right center / contain no-repeat $blue;
  color: $white;
  @include tablets() {
    background-position-y: top;
    background-size: unset;
  }
  @include phones() {
    background-size: 85% auto;
  }

  &__content {
    flex: 0.8;
    margin-top: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: rem(50px);
    width: 54%;

    @include tablets() {
      align-items: center;
      width: 100%;
      flex: 0.5;
      justify-content: space-around;
    }
    &-text {
      z-index: 200;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      @include tablets() {
        width: 69%;
        justify-content: space-between;
        flex: 0.8;
        align-items: center;
        text-align: center;
      }
      @include phones() {
        width: 100%;
      }
    }
  }
  &__svg {
    fill: #61c4d9;
    stroke: #b0f7ff;
    max-width: 100%;
    max-height: 100%;
  }
  &__title {
    text-transform: uppercase;
    font-size: rem(60px);
    letter-spacing: 0.028em;
    font-weight: bold;
    
    margin-bottom: rem(12px);
    line-height: 1;
    max-width: 90%;
    @include phones {
      margin-bottom: 0;
      font-size: rem(56px);
    }
  }
  &__description {
    font-size: rem(21px);
    
    margin-bottom: rem(10px);
    line-height: 1.1;
    max-width: 75%;
    @include phones {
      margin-bottom: rem(20px);
    }
  }

  &__container {
    @include tablets() {
      align-items: center;
      width: 100%;
    }
    &::after {
      content: "";
      width: 110%;
      height: rem(353px);
      position: absolute;
      bottom: -5%;
      left: -5%;
      background: url(/img/hero/berries.png) no-repeat;
      @include tablets() {
        display: flex;
        align-items: center;
        justify-content: center;
        background: none;
      }
    }
  }
  &__content-icon {
    display: flex;
    z-index: 6;
  }
  &__content-images {
    position: absolute;
    bottom: 0px;
    right: rem(-36px);
    top: 0;
    max-width: rem(503px);
    display: flex;
    justify-content: center;
    align-items: center;
    .image {
      max-width: 100%;

      &--tablet {
        display: none;
        @include tablets() {
          display: flex;
          position: absolute;
          top: rem(130px);
        }
      }
    }
    @include tablets() {
      align-items: flex-start;
      right: auto;
      top: 4rem;
      width: 81%;
      top: 2rem;
      height: 44%;
    }
  

    .berries {
      z-index: 3;
      bottom: rem(-40px);
      right: rem(-73px);
    }
  }
}

.icon__list {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.item__text {
  font-size: rem(16px);
  display: flex;
  @include tablets() {
    max-width: rem(100px);
  }
}
.icon__item {
  display: flex;
  max-width: rem(170px);
  &-pic {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4.0625rem;
    height: 2.8125rem;
    margin-right: 0.625rem;
  }
  @include tablets() {
    max-width: rem(230px);
    
    .icon__item:last-child {
      margin: 0;
    }
  }
}
.icon__item-pic {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4.0625rem;
  height: 2.8125rem;
}
