.menu{
  display:flex;
  align-items: center;
  justify-content: space-between;
  &__link{
    text-decoration: none;
    color:inherit;
    
  }
  &__item{
    margin-right:rem(26px);
    font-size: rem(18px);
    &:last-child{
      margin:0;
    }
    &:first-child{
      margin-left: rem(7px);
    }
  }
  @include tablets(){
    display: none;
  }
}
.menu__list{
  display:flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}