.slider {
  background-color: rgb(248, 250, 249);
  &__container {
    max-width: rem(940px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 95%;
    

  }
  &__wrapper {
    overflow: hidden;
    @include tablets {
      
      width:60%;
    }
    @include phones {
      
      width:90%;
    }
  }
  .section__title-slider {
    text-align: left;
    font-size: rem(36px);
    padding: 0;
    line-height: 1.2;
    @include tablets {
      text-align: center;
    }
  }

  &__list {
    display: flex;
    width: 100%;
    position: relative;
    align-items: center;
    transition: right 0.3s;
    justify-content: center;

  }
  &__item {
    display: flex;
    list-style-type: none;
    width: 100%;
    position: relative;
    flex-shrink: 0;
    @include tablets {
      flex-direction: column;
     
    }
    @include phones {
      align-items: center;
   
    }
  }
  .btn__arrow--prev {
    width: rem(40px);
    justify-content: flex-start;
    display: flex;
    position: absolute;
    z-index: 2;
    left: -2%;
    @include tablets {
      top:35%;
      left: 0;
    }
  }
  .btn__arrow--next {
    width: rem(40px);
    justify-content: flex-end;
    display: flex;
    position: absolute;
    z-index: 2;
    right: -3%;
    @include tablets {
      top:35%;
      right: 0%;
    }
    @include phones {
      top:35%;

    }
  }
  &__left {
    width: 50%;
    @include tablets {
      width:100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    @include phones {
      width:85%;
    }
  }
  &__right {
    width: 50%;
    padding: rem(13px) rem(5px) rem(5px) rem(68px);
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    @include tablets {
      width:100%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding:0;
    }
    @include phones {
      width:95%;
      
    }
  }
  &__image {
    max-width: 100%;
  }
}

