.user {
  width: rem(94px);
  height: rem(94px);
  border-radius: 50%;
  margin-right: rem(20px);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border: 8px solid transparent;
  &__avatar {
    max-width: 105%;
  }
  &--active {
    border: 8px solid $green;
 
  }
  &:last-child {
    margin-right: 0px;
  }
}
