.btn {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 19px;
  font-family: "AlegreyaSansExtraBold";
  background: $white;
  padding: 16px 34px;
  border: none;
  border-radius: 50px;
  color:#006633;
  display: inline-block;
}
