.comments {
  &:before{
    content: "";
    background: url(/img/comment/left.png)   no-repeat ;
  
    display: block;
    width: rem(158px);
    position: absolute;
    bottom: -20%;
    left: 0px;
    height:rem(422px);
    z-index: 2;
  }
  
  &:after{
    content: "";
    background: url(/img/comment/strawberry.png)   no-repeat ;
    display: block;
    width: rem(173px);
    position: absolute;
    top: 0%;
    right: 0px;
    height:rem(99px);
  }
  .container{
    justify-content: center;
  }
  &__header {
    text-align: left;
    font-weight: bold;
    font-size: rem(48px);
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    padding-left: rem(11px);
    position: relative;
    z-index: 6;
    margin-bottom: rem(42px);
  }
  &__content {
    padding: 48px 160px 51px 49px;
    position: relative;
    text-align: left;
    background-color: $bg_grey;
    min-height: rem(351px);
    margin-bottom:rem(23px);
    &::before {
      content: "";
      display: block;
      position: absolute;
      top: rem(-61px);
      right: rem(425px);
      width: rem(90px);
      height: rem(90px);
      border-radius: 50%;
      background-color: $white;
    }
    &::after {
      content: "";
      top: 0px;
      right: 0px;
      position: absolute;
      background: url("/img/comment/berrie.png") center center no-repeat;
      width: rem(129px);
      height: rem(155px);
    }
  }
  &__main {
    display: flex;
    flex-direction: row;
  }
  &__users {
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
  }

}
