.content{
  display: flex;
 flex-direction: column;
 &__info{
   display: flex;
   flex-direction: row;
   margin-bottom:rem(20px);
 }
 &__order{
  display: flex;
  flex-direction: row;
 }
  &__composition{
    width: 100%;
    margin-bottom:rem(30px);
    &-title{
      font-size: rem(24px);
      font-family: "AlegreyMedium";
      color: rgb(50, 50, 50);
      margin-bottom:rem(19px);
      max-height: rem(300px);
      overflow: hidden;
    }
    &-text{
        font-size: rem(18px);
        color: $grey;
        line-height: 1.2;
        text-align: left;
        @include tablets {
          text-align: center;
         }
      }
      @include tablets {
       text-align: center;
      }
  }
  &__calorie{
    margin-right: rem(60px);
    &-title{
        font-size: rem(18px);
        color: rgb(51, 51, 51);
        
    }
    &-text{
        font-size: rem(18px);
        color: rgb(51, 51, 51);
        font-weight: bold;
    }
  }
  &__weight{
    &-title{
      font-size: rem(18px);
      color: rgb(51, 51, 51);
  }
  &-text{
      font-size: rem(18px);
      color: rgb(51, 51, 51);
      font-weight: bold;
  }
  }
  &__order{
    &-price{
        font-size: rem(60px);
        font-family: "Alegreya Sans Light";
        text-transform: uppercase;
        font-family: "AlegreyLite";
        margin-right:rem(30px);
    }
    &-btn{
      background-color: $green;
      color:$white;
      align-self: center;
    }
  }
  @include tablets {
    align-items: center;
  }
}