.form {
  width: 100%;
  display: flex;
  color: $green;

  font-family: "OpenSans";
  flex-direction: row;
  justify-content: space-between;
  @include tablets {
    flex-direction: column;
    align-items: center;
  }
  &__column {
    display: flex;
    flex-direction: column;
    width: 49%;
    @include tablets {
      width:69%;
    }
    @include phones {
      width:100%;
    }
  }
  &__row {
    display: flex;
    justify-content: space-between;
    margin-bottom: rem(8px);
    &-checkbox{
      @include tablets {
        justify-content: center;
      }
    }
    &-buttons{
      @include tablets {
        justify-content: center;
      }
    }
  }
  &__content {
    width: 100%;
    &-textarea{
      margin-bottom:rem(7px);
      @include tablets {
        margin-bottom:rem(55px)
      }
    }

    &--half {
      width: 48%;
    }
    &--fourth {
      width: 22%;
    }
  }
  &__title {
    margin-bottom: 8px;
  }
  &__input {
    font-size: rem(18px);
    padding: rem(18px) 12px;
    width: 100%;
    border: 3px solid transparent;

    &:focus {
      outline: 0;
      border: 3px solid #dde3bd;
    }
  }
  &__textarea {
    width: 100%;
    font-size: rem(18px);
    padding: rem(18px) rem(12px);
    resize: none;
    border: 3px solid transparent;

    &:focus {
      outline: 0;
      border: 3px solid #dde3bd;
    }
  }
  &__radio {
    appearance: none;
    &:checked + &-fake:after {
      opacity: 1;
    }

    &-container {
      display: flex;
      margin-right:10px;
    }
  }
  &__checkbox {
    &-container{
      display: flex;
    }
    appearance: none;
    &:checked + &-fake:after {
      opacity: 1;
    }
    &-fake {
      width: rem(26px);
      height: rem(26px);
      margin-right: rem(9px);
      background-color: #fff;
      align-items: center;
      justify-content: center;
      display: flex;
      &:after {
        content: "";
        width: 3px;
        height: 8px;
        border-top: 4px solid #0f5a47;
        border-left: 4px solid #0f5a47;
        opacity: 0;
        transition: opacity 0.3s ease-out;
        transform: rotate(-146deg);
        border-top-left-radius: 3px;
      }
    }
  }
  &__radio-fake {
    width: rem(26px);
    height: rem(26px);
    border-radius: 50%;
    margin-right: rem(9px);
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    &:after {
      content: "";
      width: rem(14px);
      height: rem(14px);
      border-radius: 50%;
      background-color: $green;
      opacity: 0;
      transition: opacity 0.3s ease-out;
    }
  }
  .form__row-radio{
    justify-content: flex-start;
    @include tablets {
      justify-content: center;
      margin-bottom: rem(25px);
    }
  }
  &__buttons{
    margin-top:rem(23px);
    @include tablets {
      margin-top:rem(55px);
    }
  }
  &__button--hover{
    background-color:$green;
    color:$white;
  }
  &__button-cancel{
    background: none;
    font-weight: normal;
    font-family: "AlegreyaSans";
  }

}

.delivery {
  background: url("/img/delivery/bg.png") center center / cover no-repeat;
  &-container{
    display: flex;

    justify-content: center;
  }
}

.section__title-form {
  
  color: $green;
  margin-bottom:6%!important;
}
