.hero {
  background: url(/img/hero/sheet1.png) right center / contain no-repeat $blue;
  color: $white;

  &__content {
    flex: 0.8;
    margin-top: auto;
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    padding-bottom: 50px;
    width:54%;
  }
  &__title {
    text-transform: uppercase;
    font-size: 60px;
    letter-spacing: 0.028em;
    font-weight: bold;
    padding: 5px 0px 5px 0px;
    margin-bottom:12px;
    line-height: 60px;
    width:50%;
  }
  &__description {
    font-size: 21px;
    padding: 5px;
    margin-bottom: 10px;
    line-height: 1.1;
    width:38%;
  }
  &__container::after{
    content: "";
    width:110%;
    height: 353px;
    position: absolute;
    bottom:-5%;
    left:-5%;
    background: url(/img/hero/berries.png)  no-repeat ;

  }
  &__content-icon {
    display: flex;
    z-index: 6;
  }
  &__content-images {
    position: absolute;
    bottom: 0px;
    right: -36px;
    top: 0;
    max-width: 503px;
    display: flex;
    justify-content: center;
    align-items: center;
    .image {
      max-width: 100%;
    }


    .berries {
      z-index: 3;
      bottom: -40px;
      right: -73px;
    }
  }
}

.icon__list {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.icon__item {
  max-width: 170px;
  
}

.item__text {

  font-size: 16px;
  display: flex;
  &:before {
    margin: 5px;
    height: 43px;
  }

  &-natural:before {
    content: "";
    background: url("/img/hero/icon-natural.png") center center /contain no-repeat;
    min-width:65px;
    height: 46px;
  }

  &-delivery:before {
    content: "";
    background: url("/img/hero/icon-delivery.png") center center /contain no-repeat;
    min-width:65px;
    height: 46px;
  }
  &-calorie:before {
    content: "";
    background: url("/img/hero/icon-calorie.png") center center /contain no-repeat;
    min-width:65px;
    height: 46px;
  }
}
