.phone{
  &__link{
    text-decoration: none;
    color:inherit;
    font-size: rem(24px);
    &:before {
      content: url("/icons/phone.png");
      margin: 5px;
    }
  }
  @include tablets(){
    display: none;
  }
}
