.team {
  &:before{
    content: "";
    background: url(/img/team/right.png)   no-repeat ;

    display: block;
    width: rem(196px);
    position: absolute;
    top: -24%;
    right: 0px;
    height:rem(578px);
    z-index: 2;
  }
  
  &:after{
    content: "";
    background: url(/img/team/strawberrie.png)   no-repeat ;
    display: block;
    width: rem(135px);
    position: absolute;
    bottom: -3%;
    left: 3%;
    height:rem(112px);
    z-index: 3;
  }
  .section__title {
    margin-top: auto;
    margin-bottom: 7%;
  }
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  &__list {
    flex: 0.85;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    @include tablets {
      flex-wrap: wrap;
      justify-content: center;
    }
    @include phones {
      justify-content: space-between;
    }
  }
  &__item {
    width: 24%;
    min-width: rem(244px);
    &:nth-child(2n) {
      padding-top: 6%;
      @include tablets {
        padding-top:0;
      }
      
    }

  }

  .item__content {
    width: 100%;
    &-author {
      font-family: AlegreyaSansMedium;
      font-size: rem(21.98px);
      &:after {
        content: "";
        background: url(/img/team/bottom.png) center center no-repeat;
        position: absolute;
        min-height: rem(32px);
        width: rem(9px);
        margin-left: 1%;
      }
      &:hover{
        cursor: pointer;
      }
    }
    &-comment {
      height: 0;
      overflow: hidden;
      transition: height 1s ease;
    }

    &--active {
      & .item__content-comment:last-child {
        height: auto;
      }
      & .item__content-author:after {
        content: "";
        background: url(/img/team/top.png) center center no-repeat;
        position: absolute;
        min-height: rem(32px);
        width: rem(9px);
        margin-left: 1%;
      }
    }
  }
  .item__position {
    font-size: rem(18px);
  }
  .item__text {
    font-size: rem(17px);
    color: $grey;
    @include tablets {
      max-width: 100%;
    }
  }
  .item__pic {
    width: 100%;
    &-image {
      max-width: 100%;
    }
    padding-bottom: 6%;
  }
}
